.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 0 0 20px 0;
}

ul {
  list-style: none;
  padding: 0;
}

.card {
  margin: 7px 0;
  padding-bottom: 1px;
  border-bottom: 1px #ffffffa1 solid;

  display: flex;
  justify-content: space-between;
}
